core-ai-opencv-test2/target/classes/com/firelord/opencv/CoreAIOpenCVTestApplication.class
core-ai-opencv-test2/target/classes/com/firelord/opencv/test/OpenCVController.class
core-ai-opencv-test1/target/
core-ai-opencv/target/
.idea/
*.iml
docs/themes/
core-ai-opencv-test2/target/
